/* FONTS, TYPE STYLES    */

@font-face {
    font-family: 'AUTHENTICSans-90';
    src: url('/fonts/AUTHENTICSans-90.eot');
    src: url('/fonts/AUTHENTICSans-90.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AUTHENTICSans-90.woff2') format('woff2'),
         url('/fonts/AUTHENTICSans-90.woff') format('woff'),
         url('/fonts/AUTHENTICSans-90.ttf') format('truetype'),
         url('/fonts/AUTHENTICSans-90.svg#AUTHENTICSans-90') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Hershey-Noailles-Times-Duplex-Italic-Bold';
    src: url('/fonts/Hershey-Noailles-Times-Duplex-Italic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AUTHENTICSans-90';
    src: url('/fonts/AUTHENTICSans-90.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hershey-Noailles-OldFrench-Regular.woff';
    src: url('/fonts/Hershey-Noailles-OldFrench-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    @font-face {
    font-family: 'Linux Libertine Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Linux Libertine Bold Italic'), url('/fonts/LinLibertine_BI-4.0_.3_.woff') format('woff');
    }

    @font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: normal;
    src: local('Linux Libertine'), url('/fonts/LinLibertine_Re-4.1_.8_.woff') format('woff');
    }

html{
    background-color: white;
}

h1{
    padding: 0px;
    margin: 0px;
    font-family: 'AUTHENTICSans-90';
    font-size: 18px;
    line-height: 1.1;
    font-weight: normal;
    opacity: 85%;
    letter-spacing: -.1px;
}

h2{
    padding: 0px;
    margin: 0px;
    font-family: 'AUTHENTICSans-90';
    font-size: 18px;
    font-weight: normal;
    color: white;
    max-width: 800px;
    line-height: 1.1;
    letter-spacing: -.1px;
}

h3{
    padding: 0px;
    margin: 0px;
    font-size: 48px;
    line-height: 1;
    font-weight: normal;
    font-family: 'Linux Libertine';
    opacity: 85%;
}

h4{
    padding: 0px;
    margin: 0px;
    font-size: 21px;
    line-height: 1;
    font-weight: normal;
    font-family: 'AUTHENTICSans-90';
    color: black;
    opacity: 85%;
}

h5{
    padding: 0px;
    margin: 0px;
    font-size: 48px;
    line-height: 1;
    font-weight: normal;
    font-family: 'Linux Libertine';
    color: white;
}

p{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.1;
    font-weight: normal;
    font-family: 'Linux Libertine';
    opacity: 85%;
}

p-caption{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Linux Libertine';
    line-height: 1.1;
    display: inline-block;
}

em{
    font-family: 'Linux Libertine Bold Italic';
    font-style: normal;
}

/* -----------------MEAT-------------------- */

body {
    cursor: auto;
    padding: 18px;
    margin: 0;
}

top {
    position: absolute;
    width: 100%;
    height: 200%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

* {
    box-sizing: border-box;
}

.right {
    float: right;
}

.hero{
    margin-top: 0px;
    margin-bottom: 0em;
    max-width: 100%;
    height: 800px;
  background-image: url("/imgs/0-headers/carti_nails.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 18px;
}
    
}

* {
  box-sizing: border-box;
}

.zoom {
  padding: 0px;
  transition: transform 0s;
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.zoom2 {
  padding: 0px;
  transition: transform 0s;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.zoom3 {
  padding: 0px;
  transition: transform 0s;
  width: auto;
  height: auto;
  margin: 0 auto;
}


.zoom:hover {
  -ms-transform: scale(4); /* IE 9 */
  -webkit-transform: scale(4); /* Safari 3-8 */
  transform: scale(4); 
}

.zoom2:hover {
  -ms-transform: scale(8); /* IE 9 */
  -webkit-transform: scale(8); /* Safari 3-8 */
  transform: scale(8); 
}

.zoom3:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2); 
}

div.relative {
  position: relative;
  width: 100%;
  height: 800px;
}

div.absolute1 {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 400px;
}

div.absolute2 {
  color: white;
  position: absolute;
  left: 80%;
  top: 15%;
  max-width: 150px;
/*  mix-blend-mode: difference;*/
}

div.absolute3 {
  color: white;
  position: absolute;
  left: 20%;
  top: 70%;
  max-width: 300px;
  mix-blend-mode: difference;
}

div.absolute4 {
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
  max-width: 300px;
  mix-blend-mode: difference;
}

div.absolute5 {
  position: absolute;
  padding-bottom: 24px;
  padding-left: 24px;
  left: 0px;
  bottom: 0px;
/transform: rotate(270deg);
/transform-origin: 0 0;
}

div.absolute6 {
  color: white;
  position: absolute;
  left: 60%;
  top: 5%;
  max-width: 300px;
  mix-blend-mode: difference;
}

div.absolute7 {
  color: white;
  position: absolute;
  left: 40%;
  top: 40%;
  max-width: 300px;
  mix-blend-mode: difference;
}

      .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      .blink2 {
        animation: blink-animation 1.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
      }
      .blink3 {
        animation: blink-animation 2s steps(5, start) infinite;
        -webkit-animation: blink-animation 2s steps(5, start) infinite;
      }
      .blink4 {
        animation: blink-animation 2.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 2.5s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

.footer{
}

.all{
    padding: 0em;
    margin: 0px;
}

.card{
    padding-bottom: 2em;
}

/* Create three equal columns that floats next to each other */

.column-colap-1 {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 12px;
    padding-left: 0px;
}

.column-colap-2 {
  float: left;
  width: 20%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-3 {
  float: left;
  width: 20%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-4 {
  float: left;
  width: 20%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.audio-entry {
  float: left;
  width: 50%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column1-type {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 18px;
    padding-left: 0px;
    margin-bottom: 1em;
}

.column2-type {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 1.5em;
    padding-left: 0px;
    padding-bottom: 1em;
}

.column3-type {
  float: left;
  width: 15%;
  padding: 0em;
    padding-right: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height:  auto;
}

.menu{
    padding-left: 0px;
    padding-right: 0px;
     padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
   align-items: center;
}

.descriptors{
    padding-left: 0px;
    padding-right: 0px;
     padding-top: 96px;
    padding-bottom: 8px;
}

img{
    width: 100%;
    height: auto; 
    display: block;
    margin-bottom: 18px;
}

video{
    width: 100%;
    height: auto; 
    display: block;
    margin-bottom: 18px;
}

audio{
    margin-bottom: 18px;
    border-radius: 0px;
}

.collapsible {
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
  border: none;
  border-top: solid;
  border-width: 1px;
  border-color:  rgba(0, 0, 0, 0.2);
  background: transparent;
  display: block;
  border-bottom: 0px;
}


.header {
  width: 100%;
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
  border: none
  background: white;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links{
      display: flex;
  align-items: center;
  /justify-content: center;
    padding-bottom: 0px;
    padding-top: 18px;
    
}

.collapsible:hover {
    color: rgba(0, 0, 0, 0.5);
}

.content {
  padding: 0;
  padding-top: 0px;
  display:  none;
  overflow: hidden;
  padding-bottom: 18px;
  min-height: 200px
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}


#filter-select{
    margin-left: 6px;
    background-color: white; padding-top: 3px; padding-bottom: 3px; padding-left: 4px;display: inline-block; color:black; border-radius:60px; border: solid;
  border-width: 1px;
  border-color: black;
font-size: 14px;
    font-family: 'Linux Libertine';
}

#category-select{
    margin-left: 6px;
        background-color: white; padding-top: 3px; padding-bottom: 3px; padding-left: 4px; display: inline-block; color:black; border-radius:60px; border: solid;
  border-width: 1px;
  border-color: black;
font-size: 14px;
    font-family: 'Linux Libertine';
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    
    .flex-container > div {
    min-width: 33.33%;
    }
}
@media screen and (max-width: 800px) {
    
    .flex-container > div {
    min-width: 50%;
    }
    
    .column1-type {
  float: left;
  width: 100%;
  padding: 0;
}

.column2-type {
  float: left;
  width: 100%;
  padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}
    
    .column3-type {
  float: left;
  width: 100%;
  padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}

    
.featured-parent-column{float: left; width: 100%}
    
}
@media screen and (max-width: 600px) {
    
    .hero{
    height: 600px;
    }
    
h2{
    font-size: 14px;
}
    
    h1{
    font-size: 14px;
}
        p{
    font-size: 12px;
}
    
    .flex-container > div {
        min-width: 100%;
        padding: 4px;
}
    
        .content > div {
        padding: 0px;
}
    
        h4{
    font-size: 42px;
}
    
            h3{
    font-size: 42px;
}

h5{
    font-size: 42px;
}
    
    body{
        padding: 18px;
    }
    
    .header {
  padding-bottom: 18px;
}
    
    div.absolute5{
  padding-bottom: 14px;
  padding-left: 14px;
    }
    
    #category-select {
font-size: 12px;

}

#filter-select {
font-size: 12px;
}
    
    p-caption { 
    font-size: 12px;
    }
    
}

/* FILTER */

.filter {
    display: flex;
    padding-right: 18px;
    align-items: center;
}

.entries {
  overflow: hidden;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.filterDiv {
  display: none;  Hidden by default 
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}




/* SLIDESHOW */




* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides4 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
    border-style: none;
  margin-top: -18px;
  color: white;
  user-select: none;
  margin-left: 4px;
  margin-right: 4px;
    border-radius: 0px;
    height: auto;
    margin-bottom: 0 !important;
}

.next:hover{
    opacity: 90%;
}

.prev:hover{
    opacity: 90%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}


.player-window{
    position: fixed; 
    bottom:18px;
    right: 18px;
  z-index: 999;
}

audio::-webkit-media-controls-panel {
  background-color: transparent;
  color: black;
}

.a-button{
    margin-left: 2px;
    margin-right: 2px;
    background-color: white; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px; display: inline-block; color:black; border-radius:60px; border: solid;
  border-width: 1px;
  border-color: black;
}

.a-button:hover{
color: white;
background-color: black;
}

.a-button-blyss{
    margin-left: 2px;
    margin-right: 2px;
    background-color: white; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px; display: inline-block; color:blue; border-radius:60px; border: solid;
  border-width: 1px;
  border-color: blue;
}

.a-button-carter{
    margin-left: 2px;
    margin-right: 2px;
    background-color: white; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px; display: inline-block; color:magenta; border-radius:60px; border: solid;
  border-width: 1px;
  border-color: magenta;
}

.a-button-hero{
    background-color: white; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px; display: inline-block; color:black; border-radius:60px; margin-top: 8px;
}

.a-button-hero:hover{
    background-color: black;
    color:white;
}

.a-button-blyss:hover{
color: white;
background-color: blue;
}

.a-button-carter:hover{
color: white;
background-color: magenta;
}

.outputs {
    padding-bottom: 150px;
}

label {
    height: 20px;
}