/* FONTS, TYPE STYLES    */

@font-face {
    font-family: 'tex_gyre_herosbold';
    src: url('texgyreheros-bold-webfont.eot');
    src: url('texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bold-webfont.woff2') format('woff2'),
         url('texgyreheros-bold-webfont.woff') format('woff'),
         url('texgyreheros-bold-webfont.ttf') format('truetype'),
         url('texgyreheros-bold-webfont.svg#tex_gyre_herosbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tex_gyre_herosregular';
    src: url('texgyreheros-regular-webfont.eot');
    src: url('texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-regular-webfont.woff2') format('woff2'),
         url('texgyreheros-regular-webfont.woff') format('woff'),
         url('texgyreheros-regular-webfont.ttf') format('truetype'),
         url('texgyreheros-regular-webfont.svg#tex_gyre_herosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    background-color: white;
}

h1{
    padding: 0px;
    margin: 0px;
    font-family: 'tex_gyre_herosregular';
    font-size: 16px;
    line-height: 1.1;
    font-weight: normal;
}

h2{
    padding: 0px;
    margin: 0px;
    font-family: 'tex_gyre_herosregular';
    font-size: 18px;
    font-weight: normal;
    color: white;
    max-width: 800px;
    line-height: 1.1;
}

h3{
    font-family: 'tex_gyre_herosregular';
    padding: 0px;
    margin: 0px;
    font-weight: 100;
    font-size: 96px;
    line-height: 1;
    font-weight: normal;
    color: white;
    letter-spacing: -1px;
}

p{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
}

p-caption{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
    line-height: 1.2;
    display: inline-block
}

em{
    font-style: normal;
    font-family: 'tex_gyre_herosbold';
}

/* -----------------MEAT-------------------- */

body {
    cursor: auto;
    padding: 18px;
    margin: 0px;
    padding-top: 0px;
}

.header{
}

.nav {
    padding: 18px;
}

top {
    position: absolute;
    width: 100%;
    height: 200%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

* {
    box-sizing: border-box;
}

.right {
    float: right;
}

.hero{
    margin-top: 0px;
    margin-bottom: 0em;
    max-width: 100%;
    height: 800px;
  background-image: url("/imgs/P1010017.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 14px;
}
    
}

* {
  box-sizing: border-box;
}

.zoom {
  padding: 0px;
  transition: transform 0s;
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.zoom2 {
  padding: 0px;
  transition: transform 0s;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.zoom3 {
  padding: 0px;
  transition: transform 0s;
  width: auto;
  height: auto;
  margin: 0 auto;
}


.zoom:hover {
  -ms-transform: scale(4); /* IE 9 */
  -webkit-transform: scale(4); /* Safari 3-8 */
  transform: scale(4); 
}

.zoom2:hover {
  -ms-transform: scale(8); /* IE 9 */
  -webkit-transform: scale(8); /* Safari 3-8 */
  transform: scale(8); 
}

.zoom3:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2); 
}

.dot {
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

div.relative {
  position: relative;
  width: 100%;
  height: 800px;
}

div.absolute1 {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 400px;
}

div.absolute2 {
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  max-width: 300px;
  mix-blend-mode: difference;
}

div.absolute3 {
  color: white;
  position: absolute;
  left: 20%;
  top: 70%;
  max-width: 300px;
  mix-blend-mode: difference;
}

div.absolute4 {
  color: white;
  position: absolute;
  left: 60%;
  top: 40%;
  max-width: 300px;
  mix-blend-mode: difference;
}

div.absolute5 {
  position: absolute;
  padding-bottom: 12px;
  padding-left: 12px;
  left: 0px;
  bottom: 0px;
/transform: rotate(270deg);
/transform-origin: 0 0;
}

div.absolute6 {
  color: white;
  position: absolute;
  left: 5%;
  top: 5%;
  max-width: 300px;
  mix-blend-mode: difference;
}

      .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      .blink2 {
        animation: blink-animation 1.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
      }
      .blink3 {
        animation: blink-animation 2s steps(5, start) infinite;
        -webkit-animation: blink-animation 2s steps(5, start) infinite;
      }
      .blink4 {
        animation: blink-animation 2.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 2.5s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

.footer{
}

.all{
    padding: 0em;
    margin: 0px;
}

.card{
    padding-bottom: 2em;
}

/* Create three equal columns that floats next to each other */

.column-colap-1 {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-2 {
  float: left;
  width: 20%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-3 {
  float: left;
  width: 20%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-4 {
  float: left;
  width: 20%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.audio-entry {
  float: left;
  width: 50%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.audio-entry.now {
  color: red;
}
.active, .audio-entry:hover{
/*    filter: invert();*/
}

.column1-type {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 18px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.column2-type {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
}

.column3-type {
  float: left;
  width: 15%;
  padding: 0em;
    padding-right: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height:  auto;
}

.menu{
    padding-left: 0px;
    padding-right: 0px;
     padding-top: 18px;
    padding-bottom: 18px;
    color: darkgray;
}

img{
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 14px;
}

.collapsible {
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
  border: none;
  border-top: solid;
  border-width: 1px;
  border-color: black;
  background: white;
  display: block;
}

.header {
  text-align: left;
  width: 100%;
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
  border: none
  background: white;
  cursor: default;
}

.collapsible:hover {
    color: darkgrey;
}

.content {
  padding: 0;
  padding-top: 0px;
  display: none;
  overflow: hidden;
  padding-bottom: 18px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    
    .flex-container > div {
    min-width: 33.33%;
    }
}
@media screen and (max-width: 800px) {
    
    .flex-container > div {
    min-width: 50%;
    }
    
    .column1-type {
  float: left;
  width: 100%;
  padding: 0;
}

.column2-type {
  float: left;
  width: 100%;
  padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}
    
    .column3-type {
  float: left;
  width: 100%;
  padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}
    
.featured-parent-column{float: left; width: 100%}
    
}
@media screen and (max-width: 600px) {
    
    .hero{
    height: 600px;
    }
    
h2{
    font-size: 14px;
}
    
    .flex-container > div {
        min-width: 100%;
        padding: 4px;
}
    
        .content > div {
        padding: 0px;
}
    
    
    
}

/* FILTER */

.btn {
    margin: 0;
    cursor: pointer;
    border-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 14px;
}

.btn.active {
    background-color: black;
    color: white;
}

.btn.hover {
}

.entries {
  overflow: hidden;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
}

.filterDiv {
  display: none;  Hidden by default 
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}




/* SLIDESHOW */




* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
    border-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  margin-top: -22px;
  color: black;
  font-weight: normal;
  font-size: 12px;
  user-select: none;
  font-family: sans-serif;
  margin-left: 4px;
  margin-right: 4px;
    border-radius: 14px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}


.player-window{
    position: fixed; 
    bottom:18px;
    right: 18px;
  z-index: 999;
}

audio::-webkit-media-controls-panel {
  background-color: white;
  color: black;
  padding: 0px;
}