/* FONTS, TYPE STYLES    */

@font-face {
    font-family: 'tex_gyre_herosbold';
    src: url('texgyreheros-bold-webfont.eot');
    src: url('texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bold-webfont.woff2') format('woff2'),
         url('texgyreheros-bold-webfont.woff') format('woff'),
         url('texgyreheros-bold-webfont.ttf') format('truetype'),
         url('texgyreheros-bold-webfont.svg#tex_gyre_herosbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tex_gyre_herosregular';
    src: url('texgyreheros-regular-webfont.eot');
    src: url('texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-regular-webfont.woff2') format('woff2'),
         url('texgyreheros-regular-webfont.woff') format('woff'),
         url('texgyreheros-regular-webfont.ttf') format('truetype'),
         url('texgyreheros-regular-webfont.svg#tex_gyre_herosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2{
    padding: 0px;
    margin: 0px;
    font-family: 'tex_gyre_herosregular';
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
}

h3{
    padding: 0px;
    margin: 0px;
    font-family: 'tex_gyre_herosregular';
    font-size: 18px;
    font-weight: normal;
}

h4{
    padding: 0px;
    margin: 0px;
    font-family: 'tex_gyre_herosregular';
    font-weight: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
}

p{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.1;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
}

p2{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.1;
    max-width: 700px;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
}

p4{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    line-height: 1.25;
    max-width: 700px;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
    color: black;
}

p3{
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
  line-height: 1.25;
    max-width: 700px;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
    color: black;
}

p-caption{
    padding: 0px;
    margin: 0px;
    font-size: .75em;
    line-height: 1.25;
    max-width: 700px;
    font-weight: normal;
    font-family: 'tex_gyre_herosregular';
    color: black;
    display: inline-block
}

em{
    font-family: 'tex_gyre_herosbold';
font-style: normal;
font-size: 14px;
    
}

/* -----------------MEAT-------------------- */

body {
    cursor: auto;
    margin: 0;
}

.header{
}

.nav {
    padding: 18px;
}

top {
    position: absolute;
    width: 100%;
    height: 200%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

* {
    box-sizing: border-box;
}

.right {
    float: right;
}

.hero{
    padding: 18px;
    margin-top: 0em;
    margin-bottom: 0em;
    max-width: 100%;
    height: 700px;
    border-top: solid;
    border-bottom: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.zoom {
  padding: 0px;
  transition: transform 0s;
  width: 50px;
  height: auto;
  margin: 0 auto;
  box-shadow: 1px 1px .75px rgba(0, 0, 0, 0.3);;
}

.zoom:hover {
  -ms-transform: scale(6); /* IE 9 */
  -webkit-transform: scale(6); /* Safari 3-8 */
  transform: scale(6); 
}

.dot {
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

div.relative {
  position: relative;
  width: 100%;
  height: 468px;
}

div.absolute1 {
  position: absolute;
  left: 18%;
  top: 40%;
}

div.absolute2 {
  position: absolute;
  left: 50%;
  top: 75%;
}

div.absolute3 {
  position: absolute;
  left: 60%;
  top: 45%;
}

.footer{
}

.all{
    padding: 0em;
    margin: 0px;
}

.card{
    padding-bottom: 2em;
}

/* Create three equal columns that floats next to each other */

.column-colap-1 {
  float: left;
  width: 10%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-2 {
  float: left;
  width: 40%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-3 {
  float: left;
  width: 25%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column-colap-4 {
  float: left;
  width: 25%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.column1 {
  float: left;
  width: 50%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.audio-entry {
  float: left;
  width: 50%;
  padding: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.audio-entry.now {
  color: red;
}
.active, .audio-entry:hover{
/*    filter: invert();*/
}

.column2 {
  float: left;
  width: 25%;
  padding-right: 1em;
    padding-left: 0px;
}

.column3 {
  float: left;
  width: 25%;
  padding-right: 1em;
    padding-left: 0px;
}

.column1-type {
  float: left;
  width: 50%;
  padding: 0em;
    padding-right: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
}

.column2-type {
  float: left;
  width: 25%;
  padding: 0em;
    padding-right: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
}

.column3-type {
  float: left;
  width: 25%;
  padding: 0em;
    padding-right: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
}

.featured-parent-column{float: left; width: 40%}

.body-1{
    float: left;
    width: 36%;
    padding-right:0em;
}

.body-2{
    float: left;
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height:  auto;
}

.menu{
    padding-left: 18px;
    padding-right: 18px;
     padding-top: 18px;
    padding-bottom: 18px;
    background-color: gainsboro;
}

.myBtnContainer{
}

.body-container {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0em;
}

.image-column{
    float: left;
    max-width: 33.33%;
    padding-right: 1em;
    padding-bottom: 1em;
}

.flex-container > div {
max-width: 25%;
padding: .25em;
padding-top: 0px;
}

img{
    width: 100%;
    height: auto; 
    display: block;
}

.post{
}

.post-last{
    border-bottom: 0px;
}

.collapsible {
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  border: none;
  border-top: solid;
  border-width: 1px;
  border-color: black;
  background: none;
  outline: none;
}

.collapsible:hover {
    color: gray;
}

.content {
  padding: 18px;
  padding-top: 0px;
  display: none;
  overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.logo {
    float: left;
    padding: 18px;
}

.gallery-wide {
   max-width: 24.6%;
   display: inline-block;
   vertical-align: top;
}

.gallery-square {
   max-width: 24.6%;
   display: inline-block;
   vertical-align: top;
}

.gallery-tall {
   max-width: 24.6%;
   display: inline-block;
   vertical-align: top;
}

.gallery-container {
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    h0 {
        font-size: 3em;
    }
    
    .flex-container > div {
    min-width: 33.33%;
    }
}
@media screen and (max-width: 800px) {
    
    .flex-container > div {
    min-width: 50%;
    }
    
    .column1-type {
  float: left;
  width: 100%;
  padding: 0;
}

.column2-type {
  float: left;
  width: 100%;
  padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}
    
    .column3-type {
  float: left;
  width: 100%;
  padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}
    
.body-1{
    float: left;
    width: 100%;
    padding-right: 0em;
}

.body-2{
    float: left;
    width: 100%;
}
    
.featured-parent-column{float: left; width: 100%}
    
}
@media screen and (max-width: 600px) {
    
    .hero{
    height: 600px;
    }
    
    h0 {
        font-size: 2.6em;
        letter-spacing: -.8px;
    }
    
    .column1 {
    width: 50%;
    padding-bottom: 0px;
  }
    .column2 {
    width: 50%;
    padding-bottom: 0px;
  }
    .column3 {
    width: 50%;
    padding-top: 0px;
  }
    
    .flex-container > div {
        min-width: 100%;
        padding: 4px;
}
    
        .content > div {
        padding: 0px;
}
    
}

/* FILTER */

.btn {
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 4px 12px 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 0;
  border-radius: 100px;
}

.btn.active {
  background-color: black;
  color: white;
}

.btn.hover {
    color: gray;
}

.entries {
  overflow: hidden;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
}

.filterDiv {
  display: none;  Hidden by default 
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}




/* SLIDESHOW */




* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: normal;
  font-size: 24px;
  user-select: none;
  font-family: sans-serif;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
