@font-face {
  font-family: "Univers";
  src: url("/fonts/UniversRegular.woff");
}

@font-face {
  font-family: "Univers Condensed";
  src: url("/fonts/Univers-BoldCondensed.woff");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Univers Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 0px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  --yellow: #fee300;
  --yellow-inv: #011cff;
}

::-webkit-scrollbar {
  display: none;
}

.sun {
  position: fixed;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  animation: scroll-sun linear;
  -webkit-animation: scroll-sun linear;
  animation-timeline: scroll(root y);
  -webkit-animation-timeline: scroll(root y);
  align-self: flex-end;
}

@keyframes scroll-sun {
  from {
    transform: scale(125%);
  }
  to {
    transform: scale(1%);
  }
}

@-webkit-keyframes scroll-sun {
  from {
    transform: scale(125%);
  }
  to {
    transform: scale(1%);
  }
}

p {
  mix-blend-mode: exclusion;
  font-family: "Univers", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.grid-container a {
  color: white;
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 95%;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.grid-container {
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  mix-blend-mode: exclusion;
}

.grid-container div {
  width: 750px;
}

#invite {
  animation: blink 5s linear infinite;
  -webkit-animation: blink 5s linear infinite;
}

.timer {
  margin: 10px;
}

.timer a {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 95%;
  color: #fee300;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

#rules {
  mix-blend-mode: exclusion;
}

#rules h3 {
  margin-bottom: 10px;
}

#address {
  display: none;
  margin-top: 30px;
  /* margin-bottom: 30px; */
}

#lore {
  margin-top: 5em;
  margin-bottom: 10em;
}

#lore-url {
  display: none;
}

.map-img {
  /* height: 800px; */
  width: auto;
  position: fixed;
  bottom: -15%;
  right: -10%;
  z-index: -1;
}

.hide-button:hover {
  cursor: pointer;
}

.hide-content {
  display: none;
  text-align: center;
}

.lore {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.lore .text,
.address,
.text {
  padding: 10px;
}

.lore h3 {
  margin-top: 0;
  font-size: 24px;
}

.lore p {
  padding-bottom: 1em;
}

.lore .text,
.text a {
  animation: blink-yellow 8s linear infinite;
  -webkit-animation: blink-yellow 8s linear infinite;
  text-align: center;
}

.address img {
  width: 80%;
}

.address a {
  animation: none;
  -webkit-animation: none;
  color: white;
}

@keyframes blink-yellow {
  0% {
    color: var(--yellow);
  }
  50% {
    color: var(--yellow-inv);
  }
  100% {
    color: var(--yellow);
  }
}

@-webkit-keyframes blink-yellow {
  0% {
    color: var(--yellow);
  }
  50% {
    color: var(--yellow-inv);
  }
  100% {
    color: var(--yellow);
  }
}

/* tablet */
@media only screen and (max-width: 1024px) {
  .sun {
    width: 1200px;
    height: 1200px;
    left: calc((100vw - 1200px) / 2);
  }
}

/* for mobile */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .sun {
    width: 1000px;
    height: 1000px;
    left: calc((100vw - 1000px) / 2);
  }

  .grid-container,
  .lore {
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
  }

  .grid-container div {
    width: 100%;
  }

  .map-img {
    position: relative;
    bottom: 0;
    right: 0;
  }

  #lore-url {
    display: block;
  }

  #lore {
    display: none;
  }

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  .lore h3 {
    font-size: 24px;
  }

  p,
  a {
    font-size: 20px;
  }
}
